.copyButton {
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: auto;
    display: block;
    transition: all 0.3s ease; /* Menambahkan efek transisi untuk semua perubahan */
}

/* Menambahkan efek hover */
.copyButton:hover {
    background-color: darkgreen;
}

/* Menambahkan efek saat tombol diklik */
.copyButton:active {
    transform: translateY(2px); /* Menggeser tombol sedikit ke bawah saat ditekan */
}
