.copyButton {
    background-color: green;
    color: white;
    padding: 15px 50px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin: auto;
    display: block;
    font-size: 18px;
    transition: background-color 0.3s ease; /* Hanya menerapkan transisi untuk perubahan warna latar belakang */
}

.copyButton:hover {
    background-color: darkgreen; /* Perubahan warna latar belakang saat dihover */
}

.copyButton:active {
    transform: translateY(2px);
}
